html, body {
    height: 100%;
    margin: 0;
    background-color: #0D1E37;
  }
  
body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1; /* Makes the content expand to fill the available space, pushing the footer down */
    background-color: #0D1E37;
}

.search-box {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color:#000000;
}

.search-box input[type="text"] {
    padding: 10px;
    width: 20%;
    margin: 8px auto;
    border-radius: 1rem;
    border: 1px solid #ddd;
    text-align: center;
}

#search-button {
    background-color: #D0DAE9; /* Deep navy blue background */
    padding: 10px 20px; /* Vertical and horizontal padding */
    border: none; /* No border */
    border-radius: 1rem; /* Rounded corners */
    cursor: pointer; /* Cursor changes to pointer to indicate it's clickable */
    transition: background-color 0.3s, transform 0.1s; /* Smooth transition for hover and active states */
    font-size: 1rem; /* Font size that matches your design */
    margin-left: 8px; /* Space between the search input and button */
}

#search-button:hover {
    background-color: #11254c; /* Slightly darker shade on hover for interaction feedback */
}

#search-button:active {
    transform: scale(0.95); /* Slightly scale down the button when clicked */
}

#movie-container {
    padding: 0;
}

.movie-card {
    display: flex;
    background: #ffffff;
    margin: 8px auto;
    padding: 10px;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 50%;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.movie-card:hover {
    background: #7f8c8d; /* light grey hover */
}

.movie-image{
    width: 80px;
    height: 120px;
    background: #bdc3c7;
    margin-right: 15px;
}

.movie-info {
    flex-grow: 1;
}

.movie-title {
    font-size: 18px;
    color: #000000;
}

.movie-rating {
    color: #f1c40f;
    font-size: 16px;
}

.movie-details {
    display: none;
    color: #000000;
}

.notice {
    color: #ffffff;
    text-align: center;
    font-size: medium;
    padding: 10px;
}

.site-header {
    text-align: center;
    background: #0D1E37; /* Match the body background color or any color of choice */
    padding: 10px 0;
}

#site-logo {
    max-width: 30%; /* Adjust as necessary */
    height: auto;
}

.recommendedMovies{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    padding: 10px;
    font-size: x-large;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #D0DAE9;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 1rem;
}

.close {
    color: #0D1E37; /* Dark navy blue, matching the main color of the page */
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer; /* Changes the cursor to indicate it's clickable */
    transition: color 0.3s, transform 0.2s; /* Smooth transition for hover effects */
    margin-top: -10px; /* Adjust the top margin to align the button */
    margin-right: -10px; /* Adjust the right margin to align the button */
}

.close:hover,
.close:focus {
    color: #0D1E37; /* Light blue, matching the modal content's background */
    transform: rotate(90deg); /* Rotates the 'X' on hover for a dynamic effect */
    text-decoration: none;
}


.modal-content p:first-child {
    text-align: center; /* Center the text inside the paragraph */
}
