<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Movie Recommender</title>
<link rel="stylesheet" href="../static/styles.css">
</head>
<body>

<header class="site-header">
  <img src="../static/movieRecommenderLogoBanner.png" alt="Movie Recommender Logo" id="site-logo">
</header>

<div class="content">
  <div class="search-box">
    <input type="text" placeholder="Give a movie you liked for some recommendations..." id="search-input" />
    <button id="search-button">Search</button>
</div>
  <div class="recommendedMovies">
    <h1>Some Fan Favorites</h1>
  </div>
  <div id="movie-container">
    <!-- Movie cards will be generated here by JavaScript -->
  </div>
</div>

<div class="notice">
    © 2023 by Movie Recommender. Proudly created with Love.
</div>

<script src="../static/script.js"></script>
</body>
</html>
